.back-button {
  background-color: #E7BB41;
  border: 0;
  color: #393E41;
}

.favorite-btn {
  color: white;
  background-color: #393E41;
  border: 0;
  margin-left: 10px;
}

.movie-poster {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.movie-view {
  margin-top: 70px;
}
