.nav-btn {
  color: #393E41;
  background-color: #E7BB41;
  border: 0px;
}

.navbar {
  background-color: #393E41;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 500;
  opacity: 95%;
  height: 60px;
}
