.profile-card {
  margin: 20px auto;
  background-color: #D3D0CB;
  border: 0;
}

.container-update {
 margin-top: 50px;
}

.profile-card2 {
  margin: 20px auto;
  border-radius: 10px;
  background-color: #44BBA4;
}

.title {
  text-align: center;
}

.profile-btns {
  display: flex;
  flex-direction: column;
}

.profile-btn {
  width: 400px;
  margin-top: 10px;
  color: #393E41;
  background-color: #E7BB41;
  border: 0px;
}
